@using TodoApp.Models.ViewModels
@model TodoApp.Models.ViewModels.LogInViewModel?

@{
    ViewBag.Title = "LogIn";
    Layout = "_Layout";
}

@if (Model is not null && Model.Result.HasValue)
{
    <div class="alert alert-danger" role="alert">
        @Model.Result.Value.ErrorMessage Try Again
    </div>
}

<div >
    <div class="px-3 rounded-2 mx-auto my-auto">
        <form asp-controller="Auth" asp-action="LogIn" class="auth-form d-flex flex-column justify-content-center align-items-center pt-5 px-5">

            <h3 class="text-center">LOGIN</h3>

            <p class="text-center">Please Enter your log in credentials</p>

            <input asp-for="UserName" class="form-control " type="text" id="UserName" placeholder="User Name">

            <input asp-for="Password" class="form-control mt-3" type="password" placeholder="Password">

            <a asp-action="SingUp" class="link-danger d-block mt-4 text-center btn">Dont have and Account? Sing up</a>

            <button type="submit" class="btn-outline-primary btn my-3 w-50">Log In</button>

            <a asp-controller="Auth" asp-action="DemoLogIn" class="d-block w-25 text-center btn btn-outline-warning my-3">Demo It</a>
        </form>
    </div>
</div>