@model TodoApp.Models.ViewModels.SingUpViewModel?

@{
    ViewBag.Title = "SingUp";
    Layout = "_Layout";
}

@if (Model is not null && Model.SingUpResult.HasValue)
{
    <span class="badge text-danger">@Model.SingUpResult.Value.ErrorMessage</span>
}

<div class="container">
    <div class=" px-3 rounded-2 mx-auto my-auto">
        <form asp-action="SingUp" asp-controller="Auth" class="d-flex auth-form flex-column justify-content-center align-items-center pt-5 px-5">
            <h2 class="text-center">Sing Up</h2>
            <p class="text-center">Please Create your account</p>
            <input required class="form-control mb-2" asp-for="FullName" type="text" autocomplete="off" id="FullName" placeholder="Full Name">
            <span class="text-danger" asp-validation-for="FullName"></span>
            <input required class="form-control mb-2" asp-for="UserName" type="text" autocomplete="off" id="UserName" placeholder="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
            <input required class="form-control mb-2" asp-for="Password" type="password" autocomplete="off" id="Password" placeholder="Password">
            <span class="text-danger" asp-validation-for="Password" ></span>
            <input required class="form-control mb-2" asp-for="ConfirmPassword" autocomplete="off" type="password" id="ConfirmPassword" placeholder="Confirm Password">
            <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
            <a class="link-danger d-block mt-4 text-center btn" asp-controller="Auth" asp-action="LogIn">Already have an accoutn? Log In</a>
            <button class="btn-primary w-50 btn my-3" type="submit">Sing Up</button>
            <a asp-controller="Auth" asp-action="DemoLogIn" class="d-block w-50 text-center btn btn-outline-warning my-3">Demo It</a>
        </form>
    </div>
</div>