@model TodoApp.Models.ViewModels.TodoViewModels.IndexViewModel


@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="d-flex align-items-center pb-2">
    <select id="ListSelector" class="form-select" aria-label="Default select example">
    </select>
    <button class="btn btn-outline-success ms-2 py-1" title="Create New List">
        <i class="bi bi-plus-square fs-5 text-secondary"></i>
    </button>

</section>

<section>
    <div>
        <div class="mb-2">
            <form class="d-flex align-items-center" method="post" id="CrateTodoForm">
                <input autofocus="autofocus" required class="rounded-1 form-control-lg fs-3 pb-1 px-3 flex-grow-1" autocomplete="off" placeholder="Write your todo Item" id="TodoContent" type="text" asp-for="Content">
                <button type="submit" class="btn btn-outline-success ms-2" title="Create New Todo Item">
                    <i class="bi bi-plus-square fs-3 text-secondary"></i>
                </button>
            </form>
        </div>
        <ul id="TodoListContainer" class="list-group overflow-hidden">
            <div id="spinner" class="text-center">
                <div class="spinner-border Loading-spinner" style="width: 5rem; height: 5rem;" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </ul>
    </div>
</section>

<div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
    <div id="DeleteToast" class="toast align-items-center bg-danger" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div id="toastbody" class="toast-body">
                Todo Item Deleted SuccessFully
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/TodoListPage.js"></script>