html {
  font-size: 14px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}
main{
  max-width: 720px;
  margin: auto;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.auth-form{
  max-width: 600px;
  margin: 0 auto;
}

.nav-item:hover{
  background-color: #7847e0;
}

.TodoListItem{
  border-bottom: rgb(255, 0, 234) solid 1px;
  margin-bottom: 3px;
}


/* TodoItem Styles */
.todo-content{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 80%;
}

.TodoListItem > .todo-buttons-container{
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}
.TodoListItem:hover > .todo-buttons-container {
  visibility: visible;
  opacity: 1;
}

.svgArrow{
  cursor: pointer;
  padding: 3px 8px;
  margin-right: 0;
  border-radius: 3px;
  display: none;
  background-color: #180229;
}
.todo-buttons-container{
  width: 120px;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: space-between;
  max-width: 300px;
}

@media only screen and (max-width: 600px) {

  .todo-content{
    max-width: 280px;
  }

  .TodoListItem > .todo-buttons-container{
    visibility: visible;
    opacity: 1;
    transition: max-width 0.5s ease-in-out ;
  }
  .svgArrow{
    display: block;
  }
  .btn-container-size{
    max-width: 0;
  }
}

.TodoItem:hover  {
  background-color: #210748;
  cursor: pointer;
}

.TodoItem{
  padding: 5px 0;
  max-width: 100%;
}
input:disabled{
  text-decoration-line: line-through;
}

.Add-Todo-Animation{
  animation: addNewTodo 0.5s ease-in-out;
}
.Delete-Animation{
  animation: DeleteAnimation 0.3s ease-out forwards;
}

@keyframes addNewTodo {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes DeleteAnimation{
  100%{
    transform: translateX(110%);
  }
}