html {
  font-size: 14px;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  transform: scale(1.5);
  padding: 10px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.TodoItem > div + a {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;
}
.TodoItem:hover > div + a {
  visibility: visible;
  opacity: 1;
}

.TodoItem:hover  {
  background-color: #210748;
  cursor: pointer;
}

.TodoLabel{

}
input:disabled{
  text-decoration-line: line-through;
}

.Add-Todo-Animation{
  animation: addNewTodo 0.5s ease-in-out;
}
.Delete-Animation{
  animation: DeleteAnimation 0.3s ease-out forwards;
}

@keyframes addNewTodo {
  0%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0px);
  }
}
@keyframes DeleteAnimation{
  100%{
    transform: translateX(110%);
  }
}

.auth-form{
  max-width: 600px;
  margin: 0 auto;
}
.updateTodoForm{

}

.nav-item:hover{
  background-color: #7847e0;

}